.DS_Store
node_modules
/dist
/src/assets/*
/public/bulma-0.8.2/*
/public/fontawesome-free-5.13.0-web/*
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
